$sol: rgb(248, 214, 20) ;
$eolico: rgb(57, 231, 124);
$agua: rgb(52, 228, 241);
$geo: rgb(201, 112, 10);
$card-color: purple;
footer {
    clear: both;
    background-color:cadetblue;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
}
ul {
    list-style-type: none;
}
li{
    list-style-type: none;
}
#solar {
    background-color: wheat;
    h1{
        background-color: $sol;
    }
    div.col-md-4, div.col-md-6{   
        background-color:$sol;
    }
    div.card{
        background-color:$eolico;
    }
}

#eolico {
    background-color: wheat;
    h1{
        background-color: $eolico;
    }
    div.col-md-4, div.col-md-6{   
        background-color:$eolico;
    }
    div.card{
        background-color:$agua;
    }
}

#agua {
    background-color: wheat;
    h1{
        background-color: $agua;
    }
    div.col-md-4, div.col-md-6{   
        background-color:$agua;
    }
    div.card{
        background-color:$geo;
    }
}

#geo {
    background-color: wheat;
    h1{
        background-color: $geo;
    }
    div.col-md-4, div.col-md-6{   
        background-color:$geo;
    }
    div.card{
        background-color:$sol;
    }
}
