#imagen1 li{
    width: 50%;
    height: 500px;
    float: right;
    background-color:wheat;

  }
aside{
    width: 50%;
    height: 500px;
      float: right;
      background-color:rgb(212, 183, 129);
  }
#imagen2 li{
    width: 50%;
    height: 250px;
    float: left;
    background-color: blueviolet;
}
#imagen3 li{
    width: 50%;
    height: 250px;
    float: left;
    background-color: rgb(50, 145, 90);
}

footer{
    clear: both;
    background-color:cadetblue;
    width: 100%;
    position: sticky;
    text-align: center;
    display: table;
    position:relative;
  }