header{
    background-color: aquamarine;
    width: 100%;
    position: fixed;
}
footer{
    background-color:cadetblue;
    width: 100%;
    height:90px;
    text-align: center;
    display: table;
    position:fixed;
  }
  section{
      float: left;
      background-color: brown;
      margin: 10%;
  }
  aside{
      float: left;
      background-color: darkgoldenrod;
  }